<head>
    <title>Menu</title>
</head>
{% extends 'base.html' %}
{% block style %}
    .name-wrap{
        color: white;
        padding: 1%;
        font-size: 4vh;
        width: 40%;
        position: relative;
        left: 45%;
    }
    .levels-wrap{
        color:white;
        background-color: black;
        border-radius: 20px;
        width: 40%;
        min-height: 20vh;
        position: relative;
        left: 32%;
        font-size: 3vh;
    }
    .logout-wrap{
        font-size: 3vh;
        width: 20%;
        position: relative;
        left: 50%;
        top: 20px;
    }
{% endblock %}
{% block body %}
<div class="name-wrap">
{{ name }}
</div>
<br><br>
<div class="levels-wrap">
<ul>
{% for level in levels %}
<li>
{{ level.num }} | {{level.title}} - {{level.available}} 
{% if level.available %}
<a href="{% url 'start_level' level_num=level.num %}">Click me</a> 
{% endif %}
</li>
{% endfor %}
</ul>
</div>
<div class="logout-wrap">
<a href="{% url 'logout' %}">Logout</a>
</div>
{% endblock %}